*{
    margin : 0;
    padding :0;
}
.header{
    min-height:  690px;
    width: 100%;
    background-image: linear-gradient(rgba(6, 15, 44, 0.93),rgba(5, 9, 20, 0.93)),url(bg.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    padding: 2% 7%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 6px;
    position: relative;
}
.nav-links ul li a{
    color:#add0e7;
    opacity: 0.8;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.9s;
}
.nav-links ul li a:hover{
    font-size: 25px;
    transition: 0.5s;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin:auto;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.text-box{
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
}
.text-box h1{
    font-size: 62px;
    margin: 14px;
    text-align: center;
    opacity: 0.8;
    transition: 1s;
}
.text-box h3{
    font-size: 42px;
    margin: 14px;
    text-align: center;
    opacity: 0.8;
    transition: 1s;
}
.text-box h4{
    font-size: 42px;
    margin: 14px;
    text-align: center;
    opacity: 0.8;
    transition: 1s;
}
.text-box h5{
    font-size: 18px;
    margin: 14px;
    text-align: center;
    opacity: 0.8;
    transition: 1s;
}
.text-box h3:hover{
    font-size: 53px;
    transition: 0.6s;
}
.text-box h4:hover{
    font-size: 53px;
    transition: 0.6s;
}
.text-box h1:hover{
    font-size: 69px;
    transition: 0.6s;
}
.text-box h5:hover{
    font-size: 29px;
    transition: 0.6s;
}
.text-box button{
    border-radius: 30px;
    width: 200px;
    height: 69px;
    background-color: rgba(0, 0, 0, 0);
    border-color:red ;
    color: rgba(228, 228, 228,0.7);
    font-size: 30px;
    transition: 0.5s;
}
.text-box button:hover{
    border-radius: 30px;
    width: 260px;
    height: 82px;
    background-color: rgba(107, 39, 39,0.5);
    font-size: 40px;
    transition: 0.7s;
    cursor: pointer;
    border-width: 3px;
}

.about{
    min-height:  250px;
    width: 100%;
    background-image: linear-gradient(rgba(2, 5, 17, 0.7),rgba(2, 5, 19, 0.7)),url(about_bg.jpeg);
    background-size: cover;
    position: relative;
    color: aliceblue;
}
.about h1{
    font-size: 62px;
    margin: 14px;
    text-align: center;
    opacity: 0.8;
    transition: 0.7s;
}
.about h1:hover{
    font-size: 72px;
    transition: 0.7s;
}
.about_us{
    margin-left: 50%;
    height: auto;
    margin-top: 2%;
    width: 80%;
    text-align: center;
    transform: translate(-50%,-10%);
    color: aliceblue;
    font-size: 20px;
    opacity: 0.7;
}
.about_us p{
    margin: 40px;
    height: auto;
}
.contact_us{
    min-height:  250px;
    width: 100%;
    background-size: cover;
    position: relative;
    color: rgb(28, 6, 65);
}
.contact_us h1{
    font-size: 42px;
    margin: 14px;
    text-align: center;
    opacity: 0.8;
    transition: 0.7s;
}
.contact_us h1:hover{
    font-size: 62px;
    transition: 0.7s;
}
.contact_us h2{
    font-size: 32px;
    margin: 14px;
    text-align: center;
    opacity: 0.8;
    transition: 0.7s;
}
.contact_us p{
    text-align: center;
    height: 19px;
}
.contact_us p a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.desc{
    
    width: 100%;
    background-color: #050827;
}
.desc h1{
    margin: 10px;
    text-align: center;
    font-size: 42px;
    transition: 1s;
    color: rgb(251, 255, 254);
    opacity: 0.7;
}
.desc h1:hover{
    font-size: 62px;
    transition: 0.5s;
}
.desc p{

    color: rgb(251, 255, 254);
    opacity: 0.7;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}